/*body*/
body{
    color: #BD9C67;
    width: 450px;
    border-top: 0.1px solid #BD9C67;
    font-size: 14px;
    background: black;
    margin-left: 8px;
}
/*顶部*/
body>p{
    margin: 10px 0 0 0;
    color: #ff0000;
}
/*信息录入填充*/
#date_in .left{
    float: left;
    margin: 0 0 10px 0;
}
#date_in .left input{
    width: 143px;
    color: #BD9C67;
    border: 1.0px solid #BD9C67;
    background: black;
}
#date_in .left select{
    width: 148px;
    color: #BD9C67;
    border: 1.0px solid #BD9C67;
    background: black;
}
/*表格信息栏*/
#date_table{
    clear: both;
}
#date_table>table{
    height: auto;
    border-collapse: collapse;
}
#date_table table tr{
    height: 30px;
    line-height: 30px;
}
#date_table table tr .th1,.th3{
    width:130px;
    border: 0.1px solid #BD9C67;
    background: #404040;
}
#date_table table tr .th2{
    width:200px;
    border: 0.1px solid #BD9C67;
    background: #404040;
}


