<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/5.css" type="text/css">
</head>
<body>
    <div id="box">
        <div id="top">
            <a href="/operation_manager" class="top1" target="_self">修改密码</a>
            <a href="/operation_manager1" class="top2" target="_self">日志浏览</a>
        </div>
        <div id="main">
            <form action="" method="" enctype="">
                <p>修改密码</p>
                <table>
                    <tr>
                        <td>
                            <p>账号:</p>
                        </td>
                        <td>
                            <input type="text" name="uname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>旧密码：</p>
                        </td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>新密码：</p>
                        </td>
                        <td>
                            <input type="password" name="password1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>确认新密码：</p>
                        </td>
                        <td>
                            <input type="password" name="password2">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="修改密码"   id="t1">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>