<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/6.3.css" type="text/css">
</head>
<body>
    <div id="box">
        <div id="top">
            <a href="/system_set" class="top1" target="_self">房态类型</a>
            <a href="/system_set1" class="top2" target="_self">楼层管理</a>
            <a href="/system_set2" class="top3" target="_self">房间类型</a>
            <a href="/system_set3" class="top4" target="_self">价格设置</a>
        </div>
        <div id="main">
            <div class="main1">
                <form action="" method="" enctype="">
                    <p>价格设置</p>
                </form>
                <table cellspacing="0px">
                    <tr>
                        <td>
                            渠道：
                            <select name="channel" style="background: #2B2B2B;color:#BD9C67 ">
                                <option value="store" selected>门店</option>
                            </select>
                        </td>
                        <td>商务双人间</td>
                        <td>双人间</td>
                        <td>单人间</td>
                        <td>商务房</td>
                        <td>钟点房(/h)</td>
                    </tr>
                    <tr>
                        <td>日租</td>
                        <td><input type="text" class="c1" value=350></td>
                        <td><input type="text" class="c1" value=130></td>
                        <td><input type="text" class="c1" value=100></td>
                        <td><input type="text" class="c1" value=250></td>
                        <td rowspan="3"><input type="text" class="c1" value=70></td>

                    </tr>
                    <tr>
                        <td>月租</td>
                        <td><input type="text" class="c1" value=9000></td>
                        <td><input type="text" class="c1" value=3500></td>
                        <td><input type="text" class="c1" value=2400></td>
                        <td><input type="text" class="c1" value=6000></td>

                    </tr>
                    <tr>
                        <td>超时(/h)</td>
                        <td><input type="text" class="c1" value=175></td>
                        <td><input type="text" class="c1" value=65></td>
                        <td><input type="text" class="c1" value=50></td>
                        <td><input type="text" class="c1" value=125></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>