<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>batch_bselect</title>
    <link rel="stylesheet" href="../static/css/batch_bselect.css" type="text/css">
</head>
<body>
    <!--顶部-->
    <p>注：双击选择入住房间</p>
    <!--内容填写-->
    <div id="date_in">
        <p class="left">
            <span>抵店日期：</span>
            <input type="date" name="datestart">
             <span>离店日期：</span>
            <input type="date" name="dateend">
        </p>
        <p class="left">
            <span>价格方案：</span>
            <input type="text" placeholder="门市价" readonly>
             <span>协议单位：</span>
            <input type="text">
        </p>
        <p class="left">
            <span>房间类型：</span>
            <select>
                <option>商务双人间</option>
                <option>双人间</option>
                <option>单人间</option>
                <option>钟点房</option>
            </select>
            <span>会员卡号：</span>
            <input type="text">
        </p>
        <p class="left">
            <span>房间数量：</span>
            <input type="text">
             <span>每房人数：</span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </p>
    </div>
    <!--功能栏-->
    <div id="btn_right">
        <button>批量选房</button>
    </div>
    <!--表格信息栏-->
    <div id="date_table">
        <table cellspacing="0">
            <tr>
                <th class="th1">房型</th>
                <th class="th2">数量</th>
                <th class="th3">房价</th>
            </tr>
            <tr>
                <th class="th1" style="background: black;"></th>
                <th class="th2" style="background: black;"></th>
                <th class="th3" style="background: black;"></th>
            </tr>
        </table>
    </div>
</body>
</html>