<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>other_card.html</title>
    <link rel="stylesheet" href="../static/css/oter_card.css" type="text/css">
</head>
<body>
    <!--顶部-->
    <p>持他卡人住</p>
    <!--主体-->
    <div id="main">
        <!--第一层-->
        <div class="main_top">
           <input placeholder="请输入会员卡号或手机号">
            <a href="">点击验证</a>
        </div>
        <!--第二层-->
        <div class="main_foot">
            <button style="background: #5783DB;">取消会员价</button>
            <button style="background: #0057CC;">确定</button>
            <button style="background: #0057CC;">关闭</button>
        </div>
    </div>
</body>
</html>