<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save.html</title>
    <link rel="stylesheet" href="../static/css/save.css" type="text/css">
</head>
<body>
    <!--顶部-->
    <p>消息</p>
    <!--主体-->
    <div id="main">
        <!--第一层-->
        <div class="p_left">
            <img src="../static/images/excalmation.jpg">
            <p>
                请收取
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                房间押金：
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                元
            </p>
        </div>
        <!--第二层-->
        <p class="p_right">
            <button>确定</button>
        </p>
    </div>
</body>
</html>